<!DOCTYPE html>
<html lang="kn">
<head>
    <meta charset="UTF-8">
    <title>ನೂತನ ತತ್ತ್ವಪದ ದಾಖಲೆ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/insert.css') }}">
    <script defer src="{{ url_for('static', filename='js/tatvapada.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1>ನೂತನ ತತ್ತ್ವಪದ ದಾಖಲೆ ಸೇರಿಸಿ</h1>

        <div id="statusBox" class="status"></div>

        <form id="tatvapadaForm" method="POST" action="/tatvapada/add">

            <div>
                <label>ತತ್ತ್ವಪದಕೋಶ</label>
                <input type="text" name="tatvapadakosha" required>
            </div>

<!--            <div>-->
<!--                <label>ತತ್ತ್ವಪದಕೋಶ ಸಂಖ್ಯೆ</label>-->
<!--                <input type="number" name="tatvapadakosha_sankhye" min="1" value="1" required>-->
<!--            </div>-->

            <div>
                <label>ಸಂಪುಟ ಸಂಖ್ಯೆ</label>
                <input type="number" name="samputa_sankhye" value="0" required>
            </div>

            <div>
                <label>ತತ್ತ್ವಪದಕೋಶದ ಶೀರ್ಷಿಕೆ</label>
                <input type="text" name="tatvapadakosha_sheershike">
            </div>

            <div>
                <label>ತತ್ತ್ವಪದಕಾರರ ಹೆಸರು</label>
                <input type="text" name="tatvapadakarara_hesaru">
            </div>

            <div>
                <label>ಮುಖ್ಯ ಶೀರ್ಷಿಕೆ</label>
                <input type="text" name="mukhya_sheershike">
            </div>

            <div>
                <label>ತತ್ತ್ವಪದದ ಸಂಖ್ಯೆ</label>
                <input type="text" name="tatvapada_sankhye">
            </div>

            <div>
                <label>ತತ್ತ್ವಪದದ ಹೆಸರು</label>
                <input type="text" name="tatvapada_hesaru" required>
            </div>

            <div class="full-width">
                <label>ತತ್ತ್ವಪದ</label>
                <textarea name="tatvapada" rows="8" required></textarea>
            </div>

            <div>
                <label>ಕ್ಲಿಷ್ಟ ಪದಗಳ ಅರ್ಥ</label>
                <textarea name="klishta_padagalu_artha" rows="4"></textarea>
            </div>

            <div>
                <label>ಟಿಪ್ಪಣಿ</label>
                <textarea name="tippani" rows="4"></textarea>
            </div>

            <button type="submit">ಸೇರಿಸಿ</button>
        </form>
    </div>
</body>
</html>
